.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.container .virtual-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .virtual-container .title {
  font-size: 60px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-family: 'Caveat Brush', cursive;
}
.container .virtual-container .header {
  font-size: 18px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-family: 'Caveat Brush', cursive;
}
.container .virtual-container .virtual-scroll {
  height: 500px;
  width: 400px;
  border: 1px solid black;
}
.container .virtual-container .virtual-scroll .row {
  display: flex;
  align-content: flex-start;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  border-top: 1px solid;
}
.container .virtual-container .virtual-scroll .row.first {
  border-top: none !important;
}
.container .virtual-container .virtual-scroll .row .item {
  height: 50px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.container .virtual-container .virtual-scroll .row .drag-handle {
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAD1BMVEUAAAAEBwcAAAAICAgEBwdIVJjzAAAABHRSTlMAvxAgDD3tLgAAAClJREFUKM9jgAAmEUcFBmTA6OIigCLA4uLigC7gjFMLwtBBAEY9R77nAOJDCzKRXnfNAAAAAElFTkSuQmCC');
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
